In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('../data/raw/tz_opendata_z01012022_po01032022.csv', sep=';')

In [3]:
df.shape

(270775, 20)

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 270775 entries, 0 to 270774
Data columns (total 20 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PERSON           270775 non-null  str
 1   REG_ADDR_KOATUU  270775 non-null  int64
 2   OPER_CODE        270775 non-null  int64
 3   OPER_NAME        270775 non-null  str
 4   D_REG            270775 non-null  str
 5   DEP_CODE         270775 non-null  int64
 6   DEP              270775 non-null  str
 7   BRAND            270775 non-null  str
 8   MODEL            270775 non-null  str
 9   VIN              270753 non-null  str
 10  MAKE_YEAR        270775 non-null  int64
 11  COLOR            270775 non-null  str
 12  KIND             270775 non-null  str
 13  BODY             270775 non-null  str
 14  PURPOSE          270775 non-null  str
 15  FUEL             258465 non-null  str
 16  CAPACITY         256562 non-null  float64
 17  OWN_WEIGHT       270745 non-null  object
 18  TOTAL_WEIGHT     270745 non-null  object
 19  N_REG_NEW        268261 non-null  str
dtypes: float64(1), int64(4), object(2), str(13)
memory usage: 41.3+ MB

In [5]:
df.head()

,PERSON,REG_ADDR_KOATUU,OPER_CODE,OPER_NAME,D_REG,DEP_CODE,DEP,BRAND,MODEL,VIN,MAKE_YEAR,COLOR,KIND,BODY,PURPOSE,FUEL,CAPACITY,OWN_WEIGHT,TOTAL_WEIGHT,N_REG_NEW
0,P,5323685601,308,ПЕРЕРЕЄСТРАЦІЯ НА НОВОГО ВЛАСНИКА ЗА ДОГ. КУПI...,03.02.2021,12332,ТСЦ 5343,SKODA,OCTAVIA A5,TMBCK41Z0CB156608,2012,БЕЖЕВИЙ,ЛЕГКОВИЙ,ХЕТЧБЕК,ЗАГАЛЬНИЙ,БЕНЗИН,1798.0,1410.0,1850,ВІ9541ЕХ
1,P,3210600000,308,ПЕРЕРЕЄСТРАЦІЯ НА НОВОГО ВЛАСНИКА ЗА ДОГ. КУПI...,10.01.2021,12295,ТСЦ 8046,MITSUBISHI,LANCER,JMBSRCY2ABU010044,2011,СІРИЙ,ЛЕГКОВИЙ,СЕДАН,ЗАГАЛЬНИЙ,БЕНЗИН,1499.0,1320.0,1750,АІ6371МН
2,P,3510100000,310,ПЕРЕРЕЄСТРАЦІЯ НА НОВОГО ВЛАСНИКА ЗА ДОГ. КУП....,19.02.2021,12290,ТСЦ 8041,LAND ROVER,DISCOVERY,SALLAAAF4CA632784,2012,СИНІЙ,ЛЕГКОВИЙ,УНІВЕРСАЛ,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,2993.0,2643.0,3240,ВА2719СО
3,P,6310136300,315,ПЕРЕРЕЄСТРАЦІЯ ТЗ НА НОВ. ВЛАСН. ПО ДОГОВОРУ У...,13.01.2021,13960,ТСЦ 8048,TOYOTA,RAV4,JTMBE31VX0D083810,2012,БІЛИЙ,ЛЕГКОВИЙ,УНІВЕРСАЛ,ЗАГАЛЬНИЙ,БЕНЗИН,1987.0,1500.0,2110,АХ5049КС
4,P,5920388005,308,ПЕРЕРЕЄСТРАЦІЯ НА НОВОГО ВЛАСНИКА ЗА ДОГ. КУПI...,19.02.2021,12295,ТСЦ 8046,NISSAN,NOTE,SJNFCAE11U2156089,2012,ЧЕРВОНИЙ,ЛЕГКОВИЙ,ХЕТЧБЕК,ЗАГАЛЬНИЙ,БЕНЗИН АБО ГАЗ,1598.0,1234.0,1580,ВМ8279СК

In [6]:
df.isnull().sum()

PERSON                 0
REG_ADDR_KOATUU        0
OPER_CODE              0
OPER_NAME              0
D_REG                  0
DEP_CODE               0
DEP                    0
BRAND                  0
MODEL                  0
VIN                   22
MAKE_YEAR              0
COLOR                  0
KIND                   0
BODY                   0
PURPOSE                0
FUEL               12310
CAPACITY           14213
OWN_WEIGHT            30
TOTAL_WEIGHT          30
N_REG_NEW           2514
dtype: int64

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
REG_ADDR_KOATUU,270775.0,4.460370e+09,2.433304e+09,110100000.0,2.124881e+09,4.810100e+09,6.325184e+09,8.536900e+09
OPER_CODE,270775.0,2.537035e+02,1.188438e+02,18.0,1.050000e+02,3.080000e+02,3.150000e+02,5.700000e+02
DEP_CODE,270775.0,1.245192e+04,4.486834e+02,12229.0,1.227600e+04,1.230700e+04,1.236000e+04,1.415600e+04
MAKE_YEAR,270775.0,2.008847e+03,8.071707e+00,1933.0,2.005000e+03,2.009000e+03,2.015000e+03,2.021000e+03
CAPACITY,256562.0,2.367831e+03,2.080391e+03,0.0,1.560000e+03,1.896000e+03,2.360000e+03,6.702400e+04

In [8]:
df.describe(include=['object']).T

,count,unique,top,freq
PERSON,270775,2,P,243472
OPER_NAME,270775,84,ПЕРЕРЕЄСТРАЦІЯ ТЗ НА НОВ. ВЛАСН. ПО ДОГОВОРУ У...,83771
D_REG,270775,53,05.01.2021,9755
DEP,270775,159,ТСЦ 8046,7252
BRAND,270775,959,VOLKSWAGEN,27991
MODEL,270775,8595,PASSAT,7515
VIN,270753,249371,Y6DTF69YD8W425753,7
COLOR,270775,12,СІРИЙ,80453
KIND,270775,9,ЛЕГКОВИЙ,223836
BODY,270775,176,УНІВЕРСАЛ,97596
PURPOSE,270775,3,ЗАГАЛЬНИЙ,241467
FUEL,258465,12,БЕНЗИН,114582
OWN_WEIGHT,270745,8666,1050,1803
TOTAL_WEIGHT,270745,4841,3500,4777
N_REG_NEW,268261,262453,АР3084ВН,7